body {
    background-color: #7d82b8;
  }

  .top-container {
    background-color: #EF798A;
    color:#F7A9A8;
    height: 100px;
}
  
  .selections {
    display: flex;
    justify-content: center;
  }
  
  .selection {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 4rem;
    transition: 100ms;
  }
  
  .selection:hover {
    transform: scale(1.2);
  }
  
  .results {
    margin-top: 1rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    font-size: 2rem;
    color: #613f75;
  }
  
  .result-score {
    margin-left: .1rem;
    font-size: .5rem;
    color:#613f75;
    font-size: 2rem;
  }
  
  .result-selection {
    opacity: .5;
  }
  
  .result-selection.winner {
    opacity: 1;
    font-size: 1.5rem;
  }